.article-card {
  padding: 5px;
  padding-left: 20px;
  margin: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #cce7dc;
  border-style: solid;
  border-color: #2d7263;
  border-width: 1px;
}

.article-card > a{
    color:#1e5348;
    text-decoration: none;
}