@import './App.css';

.article-card {
  padding: 5px;
  padding-left: 20px;
  margin: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--aero-blue);
  border-style: solid;
  border-color: var(--brunswick-green);
  border-width: 1.5px;
}

.article-card > a{
    color:var(--msu-green);
    text-decoration: none;
}