@import "./App.css";

.article-card {
  padding: 5px;
  /* padding-left: 20px; */
  margin: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--aero-blue);
  border-style: solid;
  border-color: var(--brunswick-green);
  border-width: 1.5px;
}

.topic-icon {
  padding: 10px;
  padding-top:15px;
  font-size: 150%;
  color:var(--msu-green)
}

.article-card > a {
  color: var(--msu-green);
  text-decoration: none;
  padding-left:10px;
  font-size:100%;
}
