h2 {
  text-align: center;
}

.topic-link {
  color: #2b403c;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #cce7dc;
  border-style: solid;
  border-color: #2d7263;
  border-width: 1px;
}

.topic-link:hover,
.topic-link:active {
  background-color: #8fb9b0;
}

.topic-nav-bar {
  background-color: #e9f1ee;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 20px;
  border-style: solid;
  border-color: #2d7263;
  border-width: 2px;
}

.article {
  text-align: center;
}
