.header-title {
    background-color:#b6d5c8;
    padding:15px;
    margin:20px;
    border-style: solid;
    border-color:#2d7263;
    border-width:2px;
    text-align:center;
    
}

nav {
  background-color: #e3f0eb;
  height: 60px;
  display: flex;
  align-items: center;
  margin:20px;
  border-style: solid;
  border-color:#2d7263;
  border-width:2px;
}

nav > p {
  color: #2b403c;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #b6dccc;
  border-style: solid;
  border-color:#2d7263;
  border-width:1px;
}

nav > a {
  color: #2b403c;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #c4e6d8;
  border-style: solid;
  border-color:#2d7263;
  border-width:1px;
}

nav > a:hover,
a:active {
  background-color: #8fb9b0;
}
